#nav{
 margin-bottom: 10px;
}

body{
    background: rgb(231, 240, 212);
} 

#textMsg{
    /* margin: auto; */
    margin-left: 400px;
    margin-right: 20px;
    height: 30px;
    width: 600px;
    padding-left: 5px;
    border-radius: 10px;
}
#post{
    margin-left: 70px;
    background: black;
    color: white;
    border-radius: 10px;
}
#go{
    width: 70px;
    margin-left: 1020px;
    background: black;
    color: white;
    border-radius: 10px;

}
#fBox{
    display: flex;
    flex-direction: row;
}
#fBox button{
    width: 100px;
}
#emoji{
    display: flex;
    flex-direction: column;
   

}
#emoji img{
    margin-left: 410px;
    margin-top: 10px;
    width: 250px;
    height: 100px; 
   
}
#giphyImages{
    /* max-width: 1100px; */
    /* display: flex;
    flex-direction: column;
    position: absolute;
    overflow:scroll;
    height: 200px;
    width: 190px;
    left: 1020px; */
}
#input{
    border-radius: 5px;
    margin-bottom: 5px;
    /* margin-top: 200px; */
    /* margin-left: 100px; */
}
#boxImg{
    width: 350px;
height: 200px;
}
#output img{
width: 155px;
height: 100px;
margin: 5px 5px;
cursor: pointer;
}

#postOutput{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 370px;
    left: 10px;

    /* color: white; */

}

#postOutput img{

    width: 350px;
    height: 200px;
    margin-top: 20px; 
    margin-bottom: 20px; 
   


}
#postOutput h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hr{
    position: absolute;
    top: 343px;
    width: 1519px;


}
